@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@700&display=swap');

body {
  font-family: 'Ubuntu Mono', monospace;
  margin: 0px;
  overflow: hidden;
  /* touch-action: none; */
}

.monocromaticaHue {
  font-size: 3rem;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
}

#navMenu {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  bottom: -250px;
  left: 50%;
  position: absolute;
  width: 200px;
  height: 200px;
  background: #bbb;
  transform: translateX(-90%);
  transition: .4s;
  z-index: 10;
}

#navMenu.active {
  bottom: 50px;
}

.menuToogle {
  cursor: pointer;
  margin: 0px;
  padding: 20px;
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
  bottom: 250px;
  background: white;
  border-radius: 50%;
}

.icon {
  font-size: 3rem;
}

.hue {
  margin-top: 90px;
  width: 80%;
  height:  80%;

}
.circle {
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  width: 100px;
  height: 100px;
  background: red;
  z-index: 2;
}
.slider-container {
  transform: rotateZ(90deg) translateY(-200px)
}
.slider {
  margin: 15px;
  /* transform: rotateZ(90deg) translateY(100px); */
  z-index: 10;
  -webkit-appearance: none;
  width: 100%;
  height: 35px;
  border-radius: 35px;  
  /* background: linear-gradient(90deg,
              rgba(255, 0, 0, 1) 0%,
              rgba(255, 255, 0, 1) 33%,
              rgba(0, 192, 255, 1) 66%,
              rgba(192, 0, 255, 1) 100%); */
  background: #ccc;
  outline: none;
  opacity: 0.4;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 50px;
  height: 50px;
  border-radius: 50%; 
  background: white;
  cursor: pointer;
  opacity: 0.5;
  box-shadow: 0 0 10px #000;
}
.slider::-webkit-slider-thumb:hover {
  opacity: 0.9;
}

.circle-slider {
  position: absolute;
  width: 20px;
  height: 90px;
  z-index: 3;
  top: 50%;
  transform-origin: top center;
}
.circle-slider::before {
  content: "";
  background: white; 
  position: absolute;
  width: 100px;
  height: 100px;
  transform-origin: top center;
  left: -40px;
  bottom: -40px;
  border-radius: 50%;
  z-index: 5;
  opacity: 0.5;
  box-shadow: 0 0 10px #000;
}
.circle-slider:hover {
  opacity: 0.8;
}

.dragging {
  opacity: 0.1;
}

.color {
  position: absolute;
  bottom: -24px;
  right: -105px;
}

@media (max-width: 430px)
{
  .monocromaticaHue {
    font-size: 1.5rem;
   }
}